.main-backgroundImage {
    background-image: url('mainBackground.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-Denver-Nuggets img {
    
    width: 70px; /* Adjust the width as needed */
    height: auto; /* This maintains the aspect ratio */
}

.bar-color {
    background-color: #001E3E;
}

.custom-navbar {
    background: linear-gradient(to right, #001E3E, #a58e42);
    border-bottom: 2px solid #ffffff;
}

.custom-text-yellow {
    color: #a58e42
}

.custom-text-blue {
    color: #001E3E
}

.wrapper {
    width: 420px;
    background: #477F86;
    color: #fff
}